.menubtn{
	float:right;
	

}
.showmenubar{
	width:600px;
	height:30px;
	float:right;
	
	
}
.menuItem{
	
	width:187px;
	height:25px;
	border:solid 1px black;
	float:right;
	white-space: nowrap;
    text-decoration: none;
    padding-left:3px;
    
    padding-top:3px;
	/*padding-left:20px;*/
}
.hidemenubar{
	
	float:right;
}
.content{
	margin:0 0 0 0;
	padding-top:30px;
	padding-left:30px;
}